.header__li-active {
    background-color: var(--color-primary-blue);
    border-top: 2px solid var(--color-primary-blue);
    border-bottom: 2px solid var(--color-primary-blue);
}

.header__li-active a {
    color: #fff;
    text-decoration: none;
}