.aside__nav-block {
    border-collapse: collapse;
    border: 1px solid var(--color-border-primary);
}

.aside__li {
    list-style-type: none;
    border-bottom: 1px solid var(--color-border-primary);
    border-collapse: collapse;
    background-color: var(--color-grey-lighter);
    padding: 13px 12px 12px;
}

.aside__li:before {
    content: '';
    display: inline-block;
    height: 0.6em;
    width: 0.6em;
    vertical-align: baseline;
    background-color: var(--color-grey-common);
    margin-right: 0.8em;
}

.aside__li a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-grey-common);
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}